**/__pycache__
*.py[cod]
**/.ipynb_checkpoints
.DS_Store

# Data / outputs:
real_data/data/
scaling/data/
scaling/simulated_chrom_21.ts*

temp/

# Software:
software/*
!software/Makefile
!software/savvy-afdist/CMakeLists.txt
!software/savvy-afdist/main.cpp
!software/ts-afdist/ts_afdist.cpp
!software/ts-afdist/CMakeLists.txt

# custom:
.idea/
.vscode/
*.log
